// src/styles.scss

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

$primary-color: #eabf9f;       // pêssego claro
$secondary-color: #f6efe8;     // quase branco
$text-color: #5c4a3f;          // marrom suave
$accent-color: #c9ded1;        // verde água pastel

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $secondary-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-weight: 600;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: darken($primary-color, 10%);
  }
}


button, .btn {
  background-color: $primary-color;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  padding: 0.6rem 1.4rem;
  transition: all 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

button:hover, .btn:hover {
  background-color: darken($primary-color, 10%);
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

.btn-outline-dark { 
  color: $text-color;
  border-color: $text-color;

  &:hover {
    background-color: $primary-color;
    color: white;
    border-color: $primary-color;
  }
}


.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
