<div class="container py-5">
    <div class="content-wrapper">
      <h1 class="display-5 fw-bold text-center mb-4">Política de Privacidade</h1>
  
      <p>Última atualização: 21 de julho de 2025</p>
  
      <p>A presente Política de Privacidade descreve como a <strong>Evelyn Estética</strong> coleta, usa e protege as informações pessoais que você nos fornece através do nosso site.</p>
  
      <h2>1. Informações Coletadas</h2>
      <p>Coletamos informações que você nos fornece diretamente, como:</p>
      <ul>
        <li>Nome completo</li>
        <li>Endereço de e-mail</li>
        <li>Número de telefone</li>
      </ul>
      <p>Essas informações são coletadas quando você se cadastra para demonstrar interesse em nossos cursos.</p>
  
      <h2>2. Uso das Informações</h2>
      <p>As informações coletadas são utilizadas para:</p>
      <ul>
        <li>Entrar em contato para fornecer informações sobre nossos cursos.</li>
        <li>Enviar comunicações de marketing e ofertas, com seu consentimento.</li>
        <li>Melhorar nossos serviços e personalizar sua experiência.</li>
      </ul>
  
      <h2>3. Compartilhamento de Informações</h2>
      <p>A <strong>Evelyn Estética</strong> não compartilha suas informações pessoais com terceiros, exceto quando necessário para a prestação de serviços (por exemplo, plataformas de e-mail marketing, com seu consentimento expresso) ou por exigência legal.</p>
  
      <h2>4. Segurança dos Dados</h2>
      <p>Empregamos medidas de segurança técnicas e organizacionais para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, nenhum método de transmissão pela internet ou armazenamento eletrônico é 100% seguro.</p>
  
      <h2>5. Seus Direitos (LGPD)</h2>
      <p>De acordo com a Lei Geral de Proteção de Dados (LGPD), você tem o direito de:</p>
      <ul>
        <li>Acessar seus dados pessoais.</li>
        <li>Corrigir dados incompletos, inexatos ou desatualizados.</li>
        <li>Solicitar a anonimização, bloqueio ou eliminação de dados desnecessários.</li>
        <li>Revogar o consentimento a qualquer momento.</li>
      </ul>
      <p>Para exercer esses direitos, entre em contato conosco através do nosso contato: <a href="tel:+55 (71) 99325-2668"> +55 (71) 99325-2668</a>.</p>

      <h2>6. Alterações a Esta Política</h2>
      <p>Podemos atualizar nossa Política de Privacidade periodicamente. Notificaremos você sobre quaisquer alterações publicando a nova política nesta página. Aconselhamos revisar esta Política de Privacidade periodicamente para quaisquer alterações.</p>
  
      <h2>7. Contato</h2>
      <p>Se tiver dúvidas sobre esta Política de Privacidade, entre em contato conosco:</p>
      <p>Telefone: <a href="tel: +55 (71) 3240-2370"> +55 (71) 3240-2370</a></p>
    </div>
  </div>